In [6]:
import os
import numpy as np
import pandas as pd

In [14]:
installs_df = pd.read_csv(r'D:\JustDice-Analytics-Engineer-Hiring-Case-main\installs.csv')
installs_df.head()

,install_id,country_id,app_id,network_id,event_date,device_os_version
0,6b168a9f7a13119b87bfeb834d159f6879ff000205cb27...,1,174,26,2022-12-13,10
1,218ecd973c988fe76dfd247f92e9317485010844163a51...,1,174,60,2022-12-14,10
2,f67c1382fc3af8a24cb6f23bff381279d582eb67d4043e...,17,122,26,2022-12-30,11
3,afe4dc7c1663fba7ba3bc7cf6a308c38c1cb409d253f7f...,1,121,1111,2022-12-30,8.0.0
4,417acac6a6bdb88a83371f8ab482691d16896e8681afcb...,109,325,10,2022-12-05,11

In [15]:
adspend_df = pd.read_csv(r'D:\JustDice-Analytics-Engineer-Hiring-Case-main\adspend.csv')
adspend_df.head()

   event_date  country_id  network_id  client_id   value_usd
0  2022-01-01           1          10         71    4.680000
1  2022-01-01           1          10         94  223.439997
2  2022-01-01           1          10        104    0.800000
3  2022-01-01           1          10        121    4.870000
4  2022-01-01           1          10        174    1.300000

In [16]:
payouts_df = pd.read_csv(r'D:\JustDice-Analytics-Engineer-Hiring-Case-main\payouts.csv')
payouts_df.head()

                                          install_id  event_date  value_usd
0  8912076a49c7b17960f8d262dc37599f86cbb3da8912b6...  2022-12-21   0.254376
1  7488c7b0f3d25cea61e435ea2aa346d3bbf1b946b94b1f...  2022-12-28   0.361216
2  66ee0cd1d490d9d352b46b443c9d5b5aa5bdabfbdb303b...  2022-12-10   0.359006
3  66ee0cd1d490d9d352b46b443c9d5b5aa5bdabfbdb303b...  2022-12-10   0.253416
4  66ee0cd1d490d9d352b46b443c9d5b5aa5bdabfbdb303b...  2022-12-10   0.253416

In [17]:
revenue_df = pd.read_csv(r'D:\JustDice-Analytics-Engineer-Hiring-Case-main\revenue.csv')

In [18]:
revenue_df.head()

                                          install_id  event_date  value_usd
0  213197bd66cd889d103ab9059709458e49808214837508...  2022-12-16     1.5800
1  251442e25a39fb706e242445db49498ba1d6762c1ff46e...  2022-12-21     6.7500
2  3e7bdaca309c5eea9d4004a0400b5a830f3963bddc71f8...  2022-12-21     1.6200
3  9505bab0515c96b7d8c9a5aeb1fb28ae397b23badb2f03...  2022-12-20     0.0015
4  fa69bdded229f9ebb18290559d77cefbd8e5ad83d74b86...  2022-12-16     0.5400

Joining revenue data with installs data